.full-width-table {
  width: 100%;
}
.text-success{
    background: #5cb85c;
}
.text-secondary{
    background: #f0ad4e;
}
.text-danger{
    background: #d9534f;
}
.boton{
    color: white;
    background: #337ab7;
    margin-left: 1em;
}
.example-full-width{
    width: 9em;
}
.titulo{
    font-weight: bold;
    font-size: 14px;
}